/* =Responsive Structure
----------------------------------------------- */

@media screen and (min-width: 1190px) {
	.site {
		margin: 40px auto;
		width: 1140px;
	}
	#primary {
		width: 690px;
	}
	.page-links,
	.widget,
	blockquote,
	.site-content article,
	.site-content .site-navigation,
	#infinite-handle,
	.comments-title, #reply-title,
	#respond {
		margin-bottom: 50px;
	}
	#homepage-message {
		margin-top: 50px;
	}
	.single-format-gallery .entry-meta {
		margin-top: 40px;
	}	
	article.sticky .featured-post,
	.page-header,
	p,
	.featured-image,
	.entry-content table,
	.comment-content table,
	.widget.widget_catcheverest_social_widget,
	#content .searchform,
	.page-link,
	.single-attachment .entry-attachment img {
		margin-bottom: 40px;
	}
	#header-right .widget,
	.entry-header,
	article.format-aside .entry-title,
	.comments-area article header {
		margin-bottom: 30px;	
	}
	.page .entry-header,
	.widget-title,
	#header-right .widget.widget_catcheverest_social_widget, {
		margin-bottom: 20px;
	}
	#featured-post .entry-header {
		margin-bottom: 0;
	}
	.container {
		padding: 0 50px;
	}
	#site-logo,
	#hgroup,
	#header-right,
	#supplementary,
	#main {
		padding-top: 50px;
	}
	#hgroup-wrap,
	.hentry,
	.comments-area article { 
		padding-bottom: 50px;
	}
	#site-generator .site-info {
		padding: 40px 0;
	}
	
	/* Font Sizes */
	body,
	button,
	input,
	select,
	textarea {
		font-size: 16px;
		font-size: 1.6rem;
	}
	#site-title {
		font-size: 50px;
		font-size: 5rem;
	}
	.entry-header .entry-title,
	#homepage-message {
		font-size: 30px;
		font-size: 3rem;
	}
	#homepage-message span {
		font-size: 20px;
		font-size: 2rem;	
	}
	#featured-post .entry-title {
		font-size: 22px;
		font-size: 2.2rem;		
	}	
}

@media screen and (max-width: 1020px) {
	.site {
		margin: 15px auto;
		width: 960px;
	}
	.page-links,
	.widget,
	blockquote,
	.site-content article,
	.site-content .site-navigation,
	#infinite-handle,
	.comments-title, #reply-title,
	#respond {
		margin-bottom: 30px;
	}
	#homepage-message,
	.single-format-gallery .entry-meta {
		margin-top: 30px;
	}
	article.sticky .featured-post,
	.page-header,
	p,
	.featured-image,
	.entry-content table,
	.comment-content table,
	.widget.widget_catcheverest_social_widget,
	#content .searchform,
	.page-link,
	.single-attachment .entry-attachment img {
		margin-bottom: 20px;
	}
	#header-right .widget,
	.entry-header,
	article.format-aside .entry-title,
	.comments-area article header {
		margin-bottom: 20px;	
	}
	.page .entry-header,
	.widget-title,
	#header-right .widget.widget_catcheverest_social_widget {
		margin-bottom: 10px;
	}
	.container {
		padding: 0 30px;
	}
	#site-logo,
	#hgroup,
	#header-right,
	#supplementary,
	#main {
		padding-top: 30px;
	}
	#hgroup-wrap,
	.hentry,
	.comments-area article { 
		padding-bottom: 30px;
	}
	#site-generator .site-info {
		padding: 20px 0;
	}
	#header-menu ul.menu a, 
	#colophon #access-footer ul.menu a {
		padding: 0 15px;
	}
	.entry-header .entry-title {
		padding-bottom: 0;
	}

	/* Font Sizes */
	.entry-header .entry-title,
	#homepage-message {
		font-size: 26px;
		font-size: 2.6rem;
	}
	#homepage-message span {
		font-size: 18px;
		font-size: 1.8rem;	
	}	
	.entry-content h1, .comment-content h1 {
		font-size: 20px;
		font-size: 2rem;
	}
	.entry-content h2, .comment-content h2 {
		font-size: 18px;
		font-size: 1.8rem;
	}
	.entry-content h3, .comment-content h3 {
		font-size: 17px;
		font-size: 1.7rem;
	}
	.entry-content h4, .comment-content h4 {
		font-size: 16px;
		font-size: 1.6rem;	
	}
	.entry-content h5, .comment-content h5 {
		font-size: 15px;
		font-size: 1.5rem;	
	}
	.entry-content h6, .comment-content h6 {
		font-size: 14px;
		font-size: 1.4rem;	
	}		
}
@media screen and (max-width: 1000px) {
	.site {
		width: 760px;
	}
	#primary, 
	#secondary {
		width: 100%;
	}
	#header-menu ul.menu a, 
	#colophon #access-footer ul.menu a {
		padding: 0 10px;
	}
	#secondary .widget {
	    float: left;
	    margin-left: 4%;
	    width: 48%;
	}
	#secondary .widget:nth-child(2n+1) {  
		clear: both;
		margin-left: 0;
	}	
}
@media screen and (max-width: 767px) {
	/* Larger Smart Devices */		
	.site {
		margin: 15px auto;
		width: 660px;
	}
	#header-left,
	#header-right {
		clear: both;
	    display: block;
	    float: none;
	    text-align: center;
	    width: 100%;
	}
	#header-right {
		max-width: 100%;
	}	
	#header-right .widget,
	#header-right ul.social-profile li,
	#header-right #s {
		float: none;
	}
	#header-right ul.social-profile {
		width: 100%;
	}	
	#site-title {
		font-size: 30px;
		font-size: 3rem;
	}
	#site-description {
		font-size: 13px;
		font-size: 1.3rem;
		line-height: 1.4;
	}
	#main-slider .entry-container {
		bottom: 0;
		max-width: 100%;
		position: relative;
	}
	#main-slider .entry-header {
		margin-bottom: 0;
	}
	#main-slider .entry-title a,
	#main-slider .entry-title a:hover,
	#main-slider .entry-title a:focus {
		background-color: transparent;
		padding: 10px 25px 0;
	}
	#main-slider .entry-content,
	#main-slider .entry-content:hover {
		background-color: transparent;
		padding: 0 25px 25px;	
	}
	#slider-nav a {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1.4;
		padding: 0 5px;
	}
	.entry-header .entry-title,
	#homepage-message {
		font-size: 20px;
		font-size: 2.0rem;
	}
	#featured-post .entry-title {
	    font-size: 1.8rem;
	    line-height: 1.3;
	}
	#homepage-message span,
	.comments-title, 
	#reply-title {
		font-size: 16px;
		font-size: 1.6rem;
	}
	#feature-heading {
		width: 100%;
		margin-left: 0;
	}		
	#site-generator .copyright, 
	#site-generator .powered {
		margin: 0;
		width: 100%;
	}
	#site-generator .copyright, 
	#site-generator .powered {
		text-align: center;
	}
	.menu {
		display: none;
	}
	.tinynav {
		display: block;
	}
	.sb-holder {
		display: block;
	}
	.commentlist .children {
		margin-left: 0;
	}
	.widget.widget_nav_menu .sb-holder {
		background-color: #3A3D41;
		color: #eee;
		clear: both;
		display: block;
		width: 100%;
	}
	.widget.widget_nav_menu a,
	.widget.widget_nav_menu a:hover {
		color: #eee;
	}
	/* Pagination */
	#nav-below .wp-pagenavi a, 
	#nav-below .wp-pagenavi span, 
	#nav-below #wp_page_numbers ul li a,
	.page-link span,
	.page-link a span {
		height: 25px;
		font-size:12px;
		line-height: 24px;
		padding:0 10px;
	}	
	#nav-below .wp-pagenavi a, 
	#nav-below .wp-pagenavi span,
	.page-link span {
		margin: 0 0 0 5px;
	}	
	#nav-below #wp_page_numbers ul li,
	#nav-below .wp-pagenavi a, 
	#nav-below .wp-pagenavi span {
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 700px) {
	.site {
		width: 560px;
	}
	#secondary .widget {
	    float: left;
	    margin-left: 6%;
	    width: 47%;
	}		
}
@media screen and (max-width:600px) {
	/* Iphone 5 landscape */
	.site {
		width: 520px;
	}
}
@media screen and (max-width: 540px) {
	.site {
		width: 460px;
	}
	#featured-post .post,
	#supplementary.three .widget-area {
		width: 100%;
		margin-left: 0;
	}		
}
@media screen and (max-width: 480px) {
	/* iPhone6plus Portrait */
	.site {
		width: 370px;
	}	
	#secondary .widget,
	#colophon #supplementary .widget-area,
	#featured-post.layout-four .post {
		width: 100%;
		margin-left: 0;
	}	
	.container {
		padding: 0 20px;
	}
	#hgroup-wrap,
	.hentry,
	.comments-area article { 
		padding-bottom: 20px;
	}
	#site-logo,
	#hgroup,
	#header-right,
	#supplementary,
	#main {
		padding-top: 20px;
	}
	#homepage-message {
		margin-top: 20px;
	}
	.entry-meta,
	#site-generator {
		font-size: 11px;
		font-size: 1.1rem;	
	}	
}
@media screen and (max-width: 400px) {
	.site {
		width: 320px;
		margin: 0 auto;
	}	
}
@media screen and (max-width: 320px) {
	/* Small Devices iphone 5 and below Portrait */	
	.site {
		width: 100%;
	}	
	#site-title {
		font-size: 20px;
		font-size: 2rem;
	}
	#site-description {
		font-size: 12px;
		font-size: 1.1rem;
	}
	.container {
		padding: 0 15px;
	}	
	#hgroup-wrap,
	.hentry,
	.comments-area article { 
		padding-bottom: 15px;
	}
	#site-logo,
	#hgroup,
	.header-sidebar,
	#supplementary,
	#main,
	#masthead .breadcrumb {
		padding-top: 15px;
	}
	#homepage-message {
		margin-top: 15px;
	}		
}